h1 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    color: white;
}

#weatherContent {
    display: none;
}

#cityDetail p,
li {
    color: #4D4F53!important;
}

.card-body p {
    color: white;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}





